*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 1;
}


/* nav bar */
.nav-container{
    display: flex;
    align-items: center;
    background-color:black;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding-right: 100px;
}

.logo-img{
    display: inline-block;
}


nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}



.search {
    position: relative;
    width: 300px; 
   
}


.search input[type="text"] {
    height: 30px;
    width: 100%;
    padding: 10px;
    padding-right: 35px; 
    border: 1px solid #cfcfcf;
    border-radius: 100px;
    font-size: 16px;
    outline: none;
}

.search ::placeholder{
color: #bcbcbc;
}

.search i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.search-cart-container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display:flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 30px;
    width: 120px;
    gap: 7px;
    transition: background-color 0.7s, color 0.3s;
}
.cart span{
    font-weight: bold;
}

.cart i {
    font-size: 16px;
    color: #555;
}


.cart:hover {
    background-color: #e0e0e0;
}

.cart:hover i {
    color: #000;
}


/* hero section */
.hero-container{
    display: flex;
height: 600;
padding-top: 30px;
padding-bottom: 50px;
background-color: #e5e5e5;

}

.hero-content{
    flex: 1;
    padding-left: 100px;
    padding-top: 40px;

}

#big-text{
font-size: 40px;
font-weight: bold;
padding-bottom: 25px;
}


.btn-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.btn{
    display: flex;
    height: 30px;
    background-color: black;
    color: white;
    width: 110px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.7s, color 0.3s;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}



.hero-content a{
    text-decoration: none;
}



#small-text{
    text-align: center;
    line-height: 1.7;
}





.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    height: 300px; 
    width: 500px;  
    object-fit:contain; 
}

.new-arrivals-container{
    padding-left: 100px;
    margin-top: 30px;
}

.item-container{
    display: flex;

}
.small-item{
    flex: 2;
    
}

.big-item{
    flex: 2;
    width: 100%;
    height: 100%;
    position: relative;

}

.big-item img{
    width: 100%;
    height: 70%;
}

  
   .img-container {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    height: 300px;                
    width: 250px;   
    background-color: rgb(228, 228, 228);  
    position: relative; /* Makes the container the reference point for absolute positioning */
    
   
  }
  

  
  .img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .new {
    position: absolute;  
    top: 10px;           
    left: 10px;          
    background-color: rgb(251, 0, 0);  
    color: rgb(255, 255, 255);             
    font-size: 12px;          
    font-weight: bold;        
    padding: 3px 8px;         
    border-radius: 12px;     
    text-align: center;      
  }
  

  #title{
font-weight: 300;
font-size: 19px;
padding-top: 10px;
  }

  #price{
    font-weight: bold;
    font-size: 19px;
    padding-top: 10px;
  }

  .price-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    transition: background-color 0.7s, color 0.3s;
    text-decoration: none;
  }

  .add-to-cart:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(169, 169, 169);
  }

  .small-item-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
  }


  .bit-imgage-floating {
    text-decoration: none;
    position: absolute;  
   left: 250px;
    bottom: 100px;          
    background-color: rgb(255, 0, 0);  
    color: rgb(255, 255, 255);                     
    font-weight: bold;        
    padding: 3px 8px;         
    border-radius: 5px;     
    text-align: center;      
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 19px;
    justify-content: center;
    width: 150px;
    transition: background-color 0.7s , color 0.3s;
  }

  .bit-imgage-floating:hover{
    background-color: white;
    color: red;
  }
 

  .custom-line {
    height: 2px;            
    width: 90%;              
    background-color: #c3c3c3; 
    border: none;           
    margin: 20px auto;       
  }

  .offer-container{
    padding-left: 100px;
    padding-right: 100px;
  }

  .item-container{
    display: flex;
    justify-content: space-between;
  }

  .sale{
    position: absolute;  
    top: 10px;           
    left: 10px;          
    background-color: rgb(251, 0, 0);  
    color: rgb(255, 255, 255);             
    font-size: 14px;          
    font-weight: bold;        
    padding: 3px 8px;         
    border-radius: 12px;     
    text-align: center;   
    width: 70px; 
    
  }

  /* footer */
  .footer-container{
    margin-top: 100px;
    height:auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:black;
  }

  .follow{
    flex: 2;
    
  }

  .quick-links{
    flex: 2;
    
  }

  .contact{
flex: 2;


  }
  
  .subscribe{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-left: 30px;
  }

  #mid-text{
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .follow ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .follow ul li{
    list-style: none;
  }

  .follow ul li a{
    color: black;
    font-size: 40px;
  }

  .follow ul li a i{
    color: white;
    size: 45px;

  }

  #quick-link{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .quick-links ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 10px;
    gap: 10px;
    color: white;
  }

  .quick-links ul li a{
    text-decoration: none;
    color: white;
  }

  .link{
    display: flex;
    justify-content: center;
  }

  .icon-content{
    display: flex;
    width: 100%;
    gap: 25px;
    align-items: center;
    padding-top: 10px;
    
  }

  .icon-content i{
    font-size: 15px;
    color: white;
  }
  

  #txt{
    color: white;
  }


  #subscribe{
    font-weight: bold;
    font-size: 24px;
    color: white;
  }

  .subscribe input{
    height: 30px;
    width: 235px;
    outline: none;
    padding-left: 10px;
  
  }

  .subscribe input::placeholder{
    color: #bcbcbc;
    padding-left: 10px;
  }

  .subscribe button{
background-color: rgb(0, 199, 0);
height: 35px;
width: 100px;
font-weight: 600;
color: white;
border: none;
cursor: pointer;
  }

  .copyright{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #888;
  }

  .copyright p{
    font-size: 16px;
  }

  /* ---------------------------------------categories page--------------------------------------------- */